<div class="container-fluid px-0">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === 0">
          <img [src]="image.src" class="d-block w-100" alt="{{ image.title }}">
          <div class="carousel-caption">
            <h5>{{ image.title }}</h5>
            <p>{{ image.subtitle }}</p>
          </div>
        </div>
      </div>
      <!-- Manual Controls for Carousel Navigation -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  